<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.epicstudios.vectras"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:minSdkVersion="30"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:glEsVersion="0x00020000" />

    <application
        android:name=".VectrasApp"
        android:allowBackup="true"
        android:banner="@mipmap/tv_banner"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"/>
        <activity
            android:name=".FirstActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"/>
        <activity
            android:name=".AboutActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoreActivity"
            android:exported="true"
            android:label="Apps &amp; Games"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoreItemActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImagePrvActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VectrasApp$CrashActivity"
            android:exported="true"
            android:label="App Crash"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.epicstudios.vectras.VectrasSDLActivity"
            class="com.epicstudios.vectras.VectrasSDLActivityToolbar"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.FullScreen"
            android:exported="true">
            <intent-filter>
                <action
                    android:name=".SDLActivity"
                    android:value="android.intent.action.VIEW" />

                <category
                    android:name=".SDLActivity"
                    android:value="android.intent.category.NORMAL" />
            </intent-filter>
        </activity>
        <service
            android:name="com.epicstudios.vectras.VectrasService"
            android:enabled="true"
            android:exported="false"
            android:label="Vectras Service" >
            <intent-filter>
                <action android:name="com.epicstudios.vectras.action.STARTVM" />
				<action android:name="com.epicstudios.vectras.action.STOPVM" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3568137780412047~1296857222"/>

    </application>

</manifest>
